.container-dashboard{
    /* border: 1px solid white; */
    margin: 20px 10px;
    height: 80vh;
    display: flex;
}

.left-navbar{
    width: 20%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.178);
    background-color: rgba(255, 255, 255, 0.103);
    /* margin: 20px 0 0 10px; */
}

.dash-CC{
    width: 70%;
    margin: 20px;
}

.count-last{
    display: flex;
    gap: 20px;
}